[submodule "galois-smaccmpilot"]
	path = galois-smaccmpilot
	url = https://github.com/GaloisInc/smaccmpilot-build
[submodule "paparazzi-hardware"]
	path = paparazzi-hardware
	url = https://github.com/paparazzi/paparazzi-hardware.git
[submodule "ardupilot"]
	path = ardupilot
	url = https://github.com/diydrones/ardupilot.git
[submodule "mavlink"]
	path = mavlink
	url = https://github.com/mavlink/mavlink.git
[submodule "paparazzi"]
	path = paparazzi
	url = https://github.com/paparazzi/paparazzi
[submodule "qgroundcontrol"]
	path = qgroundcontrol
	url = https://github.com/mavlink/qgroundcontrol.git
[submodule "AeroQuad"]
	path = AeroQuad
	url = https://github.com/AeroQuad/AeroQuad.git
[submodule "PX4-Hardware"]
	path = PX4-Hardware
	url = https://github.com/PX4/Hardware
[submodule "PX4-HIL"]
	path = PX4-HIL
	url = https://github.com/PX4/HIL
[submodule "psas-launch-tower-computer.git"]
	path = psas-launch-tower-computer.git
	url = https://github.com/psas/launch-tower.git
[submodule "beaglepilot"]
	path = beaglepilot
	url = https://github.com/BeaglePilot/beaglepilot.git
[submodule "BeagleLogic"]
	path = BeagleLogic
	url = https://github.com/abhishek-kakkar/BeagleLogic.git
[submodule "BeagleboneBlackSensorCape"]
	path = BeagleboneBlackSensorCape
	url = https://github.com/LeonardMH/SensorCape.git
[submodule "beaglebone-pru-quickstep"]
	path = beaglebone-pru-quickstep
	url = https://github.com/hakalan/quickstep.git
[submodule "pru-various-examples"]
	path = pru-various-examples
	url = https://github.com/dresco/pru_examples.git
[submodule "beaglebone_pru_adc"]
	path = beaglebone_pru_adc
	url = https://github.com/pgmmpk/beaglebone_pru_adc.git
[submodule "beagle-copter"]
	path = beagle-copter
	url = https://github.com/antodoms/beagle-copter.git
[submodule "grbl"]
	path = grbl
	url = https://github.com/grbl/grbl.git
